# =========================
# Backend
# =========================

# Port for the backend server
PORT=4000

# JWT (for authentication)
# in dev can be any long string
JWT_SECRET=dev_super_secret_change_later_123456

# =========================
# Database (PostgreSQL)
# =========================

# Full URL for connecting to the database
# db is the service name in docker-compose
DATABASE_URL=postgresql://postgres:postgres@db:5432/postgres?schema=public

# (not used in code, but can be useful for reference or if you want to switch to env vars instead of DATABASE_URL)
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres

# =========================
# Environment
# =========================

NODE_ENV=development