# Node
node_modules/
dist/
*.log

# Env
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# Prisma
.prisma/

# Build artifacts
apps/backend/dist/
apps/frontend/dist/
*.tsbuildinfo

*storybook.log
storybook-static
